<div>
  <h2>Здравствуйте!</h2>
  <p>Вы успешно подписались на рассылку нашего магазина!
    <a href="http://<%= @current_store.url %>/newsletter_subscribers/confirm/<%= @subscriber.confirmation_key %>">
      Подтвердить подписку
    </a>
  </p>

  <h6>Также мы создали для Вас аккаунт на нашем сайте:</h6>
  <p>
    <span>Логин: <%= @subscriber.email %></span><br>
    <span>Временный пароль: <%= @pass %></span></p>
  <a href="http://<%= @current_store.url %>/account">Личный кабинет</a>
  <br>
  <br>
  <p><small>Вы можете
    <a href="http://<%= @current_store.url %>/newsletter_subscribers/<%= @subscriber.id %>/edit"> изменить </a>
    настройки получения рассылки</small></p>
</div>
