<div data-hook="admin_newsletter_subscriber_form_fields">
  <table data-hook="email">
   <tr>
      <td><%= t(:first_name) %>:</td>
      <td><%= f.text_field :first_name, {'style' => 'width:200px'} %></td>
    </tr>
     <tr>
      <td><%= t(:last_name) %>:</td>
      <td><%= f.text_field :last_name, {'style' => 'width:200px'} %></td>
    </tr>
    <tr>
      <td><%= t(:email) %>:</td>
      <td><%= f.text_field :email, {'style' => 'width:200px'} %></td>
    </tr>
  </table>
</div>
