<% content_for :page_title do %>
  <%= t(:newsletter_subscribers) %>
<% end %>

<div class="row">
  <%= form_for [:admin, Spree::NewsletterSubscriber.new] do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr data-hook="categories_header">
      <th><%= t(:email) %></th>
      <th><%= t(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @newsletter_subscribers.each do |newsletter_subscriber|%>
    <tr id="<%= spree_dom_id newsletter_subscriber %>" data-hook="newsletter_subscriber_row">
      <td><%= newsletter_subscriber.email %></td>
      <td>
        <%= link_to_edit newsletter_subscriber, no_text: true %>
        <%= link_to_delete newsletter_subscriber, no_text: true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
